@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* background: black; */
  background-color: var(--bg-color);
  font-family: 'outfit';

}

html {
  scroll-behavior: smooth;
}

.dark-theme {
  --main-heading: white;
  --para-clr: #fff;
  --bg-color: black;
  --border-color: white;
  --arrow-color: white;

}

.light-theme {
  --main-heading: black;
  --para-clr: black;
  --bg-color: white;
  --border-color: black;
  --arrow-color: black;
}