.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    color: var(--main-heading);
}

.about-title {
    position: relative;
    color: var(--main-heading);
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 500;
    color: var(--main-heading);
}

.about-section {
    display: flex;
    gap: 80px;
}

.about-left img {
    border-radius: 100px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    color: var(--para-clr);
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;

}

.about-skill p {
    min-width: 150px;
    font-size: 18px;
    font-weight: 400;
    color: var(--para-clr);
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(150deg, rgb(245, 110, 86) 0.36%, rgb(241, 241, 84) 100%);

}

.about-skill:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

@media(max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 70px;
        align-items: start;

    }

    .about-title h1 {
        font-size: 50px;
        padding: 0;

    }

    .about-sections {
        flex-direction: column;

    }

    .about-left {
        display: none;

    }

    .about-para {
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        gap: 20px;
        align-items: center;
    }

    .about-skill p {
        font-size: 20px;
    }

    .about-skill hr {
        height: 6px;
    }
}